*{
    padding: 0;
    margin: 0;
}
.About{
    background-color: #20c997;
    width: 100%;
    padding: 1;
    padding-top: 43px;
}
.About h2{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 900;
    color: aliceblue;
}
.About .lain1{
    width: 164px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    border: 1ps solid white;
    border-radius: 2px;
    
}
.About .lain2{
    width: 164px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    right: 0;
    border: 1ps solid white;
    border-radius: 2px;
    
}
